<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>:: 100점 인생 ::</title>

    <!--><link href = "templates/basic.css" rel="stylesheet" type="text/css"><-->
    <link href = "{{ url_for('static', filename = 'basic.css') }}" rel="stylesheet" type="text/css">

    <style>
    	{font-family: 'Nanum Gothic', serif};
        a:link     {color:#000000; text-decoration:none}
        a:visited  {color:#000000; text-decoration:none}
        a:active   {color:#000000; text-decoration:none}
        a:hover    {color:#000000; text-decoration:none}
    </style>

</head>
<body>

    <div id="mainwrapper">
      <header>
        <h1>몇점짜리 인생을 살고 싶은가요?</h1>
      </header>

        <form action = '/' method = 'GET' id=form>
            <input type = 'text' name = 'string'/><br><br><br>
            <input type = 'submit' value = 'CHECK'/>
        </form>
        <div id="answer">
          {% if string != '' %}
          <h2>{{ string }} 은 {{ score }} 점입니다.</h2>
          {% endif %}

          {% if score == '100' %}
          <h2>축하합니다! 100점짜리 인생입니다!</h2>
          {% endif %}
        </div>


    </div>

</body>
</html>
